.container {
  display: grid;
  grid-template-columns: 1fr 167px;
  column-gap: 42px;
  row-gap: 0px;
  align-items: start;
}

.lukasz-intro p {
  font-size: 26px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  line-height: 1.5;
}
