.main-container {
  align-items: start;
  grid-template-columns: 4fr 1fr;
  display: flex;
}

.intro-section {
  display: flex;
  margin-right: 16px;
  gap: 30px;
}

.lukasz-image {
  border-radius: 16px;
  width: 320px;
}

.friends {
  align-self: start;
}
