.container {
  display: grid;
  grid-template-columns: 1fr 167px;
  column-gap: 42px;
  row-gap: 70px;
  align-items: start;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
